@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 220, 150, 100;
  }
}

@layer base {
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
    font-family: monospace;
    font-size: 12pt;
  }
  h1 {
    font-size: 24pt;
  }
  footer {
    display: flex;
    margin: 1rem;
    justify-content: center;
  }
  header {
    position: fixed;
    width: 100vw;
    border-bottom: solid 2px black;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .content {
    height: 100vh;
    margin: 1rem;
    padding: 1rem;
    border-bottom: solid 2px black;
  }
}