@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 220, 150, 100;
  }
}

@layer base {
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
    font-family: monospace;
    font-size: 12pt;
  }
  h1 {
    font-size: 24pt;
    margin-top: 2rem;
  }
  h2 {
    font-size: 18pt;
    margin-top: 1rem;
  }
  footer {
    display: flex;
    margin: 1rem;
    justify-content: center;
    height: 3vh;
  }
  header {
    position: fixed;
    width: 100vw;
    border-bottom: solid 2px black;
    backdrop-filter: blur(4px);
    height: 3rem;
    top: 0;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .content {
    height: 100vh;
    margin: 1rem;
    padding: 1rem;
    border-bottom: solid 2px black;
  }
}

.success-pulse:hover {
  animation-name: hoverPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes hoverPulse {
  50% {background-color: #A5D6A7}
}

.success-pulse:active {
  animation-name: hoverPulse;
  animation-duration: 3s;
}

@keyframes clickPulse {
  40% {background-color: #4CAF50}
  90% {background-color: #4CAF50}
}