.header {
    clear: both;
    position: relative;
    height: 100px;
    margin-bottom: -100px;
    border-bottom: inset 1px gainsboro;
    background-color: #1a1a1a;
}

.nav_container {
    display: flex;
}

.navbar_link {
    padding: 4px;
    margin: 4px;
    color: rgb(133, 76, 161);
    font-size: 16pt;
}